.footerText {
  color: var(--orange-main);
  width: 376px;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bullWithCoinImage {
  position: absolute;
  top: 0;
  left: -130px;
  z-index: -1;
}

.whyTop::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background-light);
  opacity: 0.25;
}

.whyTop {
  position: relative;
  padding: 33px 53px;
  border: 2px solid #cccccc1a;
  border-radius: 10px;
}

.whyBottom {
  width: 167px;
}

.iconTop {
  margin-bottom: 25px;
  height: 36px;
}

.iconBottom {
  margin-bottom: 42px;
  height: 78px;
}

.itemTopSpace {
  margin-bottom: 9px !important;
}

.itemBottomSpace {
  margin-bottom: 11px !important;
}

.text {
  font-size: 12px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  color: var(--orange-main);
}

.text,
.title {
  text-align: center;
}

@media (max-width: 992px) {
  .image {
    position: relative;
    top: unset;
    left: unset;
  }
}

@media (max-width: 768px) {
  .bullWithCoinImage {
    position: relative;
    left: -70px;
  }

  .whyBottom {
    margin-bottom: 24px;
  }
}
