.wrapper {
  display: inline-block;
}

.blur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2;
  display: block;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.symbolWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  border-radius: 50px;
  background: #40454f;
  width: 176px;
  z-index: 2;
}

.symbolLabel {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin: 0 8px 0 8px;
}

.iconChevronDown {
  background: none;
  border: none;
  outline: none;
}

.symbol * {
  cursor: pointer;
}

.coinImage {
  width: 25px;
  height: 25px;
}
