.root {
  padding: 15px 15px 0;
  height: 450px;
}
.header {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(191, 193, 195, 0.25);
}
.iconClose {
  margin-right: 5px;
}

.filterGroup {
  width: 100%;
}

.available {
  margin: 10px 0 8px;
  width: 100%;
  justify-content: space-between;
}

.walletIcon {
  margin-right: 10px;
}

.walletText {
  font-size: 12px;
}

.checkbox {
  margin: 10px 0;
}

.ant-checkbox {
  margin-right: 4px;
}

.buttonContainer {
  width: 100%;
  padding: 0 16px;
  margin: 10px 0 20px;
}

.submitButton {
  width: 100%;
  margin-top: 10px;
  height: 32px !important;
  line-height: 11px !important;
  text-transform: capitalize;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.root :global .ant-checkbox {
  margin-right: 4px;
}

.root :global .ant-radio-button-wrapper span {
  font-size: 10px !important;
}

.root :global .ant-radio-button-wrapper {
  line-height: 22px !important;
  height: 20px;
}

.root .filter {
  padding: 3px 2px;
  background-color: rgb(128 128 128 / 21%);
  width: 100%;
  justify-content: center;
}

.root :global .ant-slider-handle {
  z-index: unset !important;
}
.root :global .ant-slider-dot {
  z-index: unset !important;
}

@media (min-width: 1200px) and (max-width: 1310px) {
  .root .filter {
    max-width: -webkit-fill-available;
    overflow-x: scroll;
  }
}
